---
http_interactions:
- request:
    method: post
    uri: https://identity.xero.com/connect/token
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&refresh_token=7ef8d8b5ebfac6f50105dd6ce2fd78f9340531c0570d5713e068e2a1f3f21ea2
    headers:
      Authorization:
      - Basic aG9kb3I6dGhlX2Rvb3I=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      xero-origin-id:
      - IdentityServer.Web
      xero-causation-id:
      - b139e7004c2a4955a5730cce3bc4d6c4
      xero-message-id:
      - 6b7560becf084c3b8bdce28a601ac534
      xero-activity-id:
      - bdbad1f0cb4c477aa0d7acb99e04516f
      xero-correlation-id:
      - ff00a384baee4c32920c094dbf632f8e
    body:
      encoding: UTF-8
      string: '{"access_token":"ohmydaze","expires_in":1800,"token_type":"Bearer","refresh_token":"refreshboiz","scope":"accounting.reports.read
        accounting.settings.read accounting.transactions accounting.transactions.read
        offline_access"}'
  recorded_at: Mon, 22 Feb 2021 19:34:29 GMT
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Reports/BankStatement?bankAccountID=AC993F75-035B-433C-82E0-7B7A2D40802C
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Xero-tenant-id:
      - 26057485-21f7-40bc-8cfe-52a8ecbf4eff
      Authorization:
      - Bearer ohmydaze
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      xero-correlation-id:
      - 19aff3f1-de56-4284-864f-34e3e9e2bd9f
      x-appminlimit-remaining:
      - '9999'
      x-minlimit-remaining:
      - '59'
      x-daylimit-remaining:
      - '4980'
      x-client-tls-ver:
      - tls1.3
    body:
      encoding: UTF-8
      string: "{\r\n  \"Id\": \"19aff3f1-de56-4284-864f-34e3e9e2bd9f\",\r\n  \"Status\":
        \"OK\",\r\n  \"ProviderName\": \"Sharesight 2.0 Development\",\r\n  \"DateTimeUTC\":
        \"\\/Date(1614022469974)\\/\",\r\n  \"Reports\": [\r\n    {\r\n      \"ReportID\":
        \"BankStatement\",\r\n      \"ReportName\": \"Bank Statement\",\r\n      \"ReportType\":
        \"BankStatement\",\r\n      \"ReportTitles\": [\r\n        \"Bank Statement\",\r\n
        \       \"Business Bank Account\",\r\n        \"Demo Company (NZ)\",\r\n        \"From
        1 February 2021 to 23 February 2021\"\r\n      ],\r\n      \"ReportDate\":
        \"22 February 2021\",\r\n      \"UpdatedDateUTC\": \"\\/Date(1614022469974)\\/\",\r\n
        \     \"Fields\": [],\r\n      \"Rows\": [\r\n        {\r\n          \"RowType\":
        \"Header\",\r\n          \"Cells\": [\r\n            {\r\n              \"Value\":
        \"Date\"\r\n            },\r\n            {\r\n              \"Value\": \"Description\"\r\n
        \           },\r\n            {\r\n              \"Value\": \"Reference\"\r\n
        \           },\r\n            {\r\n              \"Value\": \"Reconciled\"\r\n
        \           },\r\n            {\r\n              \"Value\": \"Source\"\r\n
        \           },\r\n            {\r\n              \"Value\": \"Amount\"\r\n
        \           },\r\n            {\r\n              \"Value\": \"Balance\"\r\n
        \           }\r\n          ]\r\n        },\r\n        {\r\n          \"RowType\":
        \"Section\",\r\n          \"Title\": \"\",\r\n          \"Rows\": [\r\n            {\r\n
        \             \"RowType\": \"Row\",\r\n              \"Cells\": [\r\n                {\r\n
        \                 \"Value\": \"2021-02-01T00:00:00\"\r\n                },\r\n
        \               {\r\n                  \"Value\": \"Opening Balance\"\r\n
        \               },\r\n                {\r\n                  \"Value\": \"\"\r\n
        \               },\r\n                {\r\n                  \"Value\": \"\"\r\n
        \               },\r\n                {\r\n                  \"Value\": \"\"\r\n
        \               },\r\n                {\r\n                  \"Value\": \"\"\r\n
        \               },\r\n                {\r\n                  \"Value\": \"6324.22\"\r\n
        \               }\r\n              ]\r\n            },\r\n            {\r\n
        \             \"RowType\": \"Row\",\r\n              \"Cells\": [\r\n                {\r\n
        \                 \"Value\": \"2021-02-01T00:00:00\",\r\n                  \"Attributes\":
        [\r\n                    {\r\n                      \"Value\": \"ac993f75-035b-433c-82e0-7b7a2d40802c\",\r\n
        \                     \"Id\": \"accountID\"\r\n                    },\r\n
        \                   {\r\n                      \"Value\": \"119f8b86-09ad-41af-b7d1-a6ee33311d8d\",\r\n
        \                     \"Id\": \"statementID\"\r\n                    }\r\n
        \                 ]\r\n                },\r\n                {\r\n                  \"Value\":
  [...]
