=begin
#Xero Payroll AU API 2.0

#This is the Xero Payroll API 2.0 for orgs in Australia region.

Contact: api@xero.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.1

=end

module XeroRuby
  class PayrollAuV2Api
    attr_accessor :api_client

    def initialize(api_client = ApiClient.new)
      @api_client = api_client
    end
    # Approves a specific timesheet
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
    # @return [TimesheetObject]
    def approve_timesheet(xero_tenant_id, timesheet_id, opts = {})
      data, _status_code, _headers = approve_timesheet_with_http_info(xero_tenant_id, timesheet_id, opts)
      data
    end

    # Approves a specific timesheet
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
    # @return [Array<(TimesheetObject, Integer, Hash)>] TimesheetObject data, response status code and response headers
    def approve_timesheet_with_http_info(xero_tenant_id, timesheet_id, options = {})
      opts = options.dup
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollAuV2Api.approve_timesheet ...'
      end
      # verify the required parameter 'xero_tenant_id' is set
      if @api_client.config.client_side_validation && xero_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'xero_tenant_id' when calling PayrollAuV2Api.approve_timesheet"
      end
      # verify the required parameter 'timesheet_id' is set
      if @api_client.config.client_side_validation && timesheet_id.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet_id' when calling PayrollAuV2Api.approve_timesheet"
      end
      # resource path
      local_var_path = '/Timesheets/{TimesheetID}/Approve'.sub('{' + 'TimesheetID' + '}', timesheet_id.to_s)

      # camelize keys of incoming `where` opts
      opts[:'where'] = @api_client.parameterize_where(opts[:'where']) if !opts[:'where'].nil?

      # query parameters
      query_params = opts[:query_params] || {}
      
      # XeroAPI's `IDs` convention openapi-generator does not snake_case properly.. manual over-riding `i_ds` malformations:
      query_params[:'IDs'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'ContactIDs'] = @api_client.build_collection_param(opts[:'contact_ids'], :csv) if !opts[:'contact_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Xero-Tenant-Id'] = xero_tenant_id
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'TimesheetObject' 

      # auth_names
      auth_names = opts[:auth_names] || ['OAuth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, "PayrollAuV2Api", new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollAuV2Api#approve_timesheet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new timesheet
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet [Timesheet] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
    # @return [TimesheetObject]
    def create_timesheet(xero_tenant_id, timesheet, opts = {})
      data, _status_code, _headers = create_timesheet_with_http_info(xero_tenant_id, timesheet, opts)
      data
    end

    # Creates a new timesheet
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet [Timesheet] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
    # @return [Array<(TimesheetObject, Integer, Hash)>] TimesheetObject data, response status code and response headers
    def create_timesheet_with_http_info(xero_tenant_id, timesheet, options = {})
      opts = options.dup
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollAuV2Api.create_timesheet ...'
      end
      # verify the required parameter 'xero_tenant_id' is set
      if @api_client.config.client_side_validation && xero_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'xero_tenant_id' when calling PayrollAuV2Api.create_timesheet"
      end
      # verify the required parameter 'timesheet' is set
      if @api_client.config.client_side_validation && timesheet.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet' when calling PayrollAuV2Api.create_timesheet"
      end
      # resource path
      local_var_path = '/Timesheets'

      # camelize keys of incoming `where` opts
      opts[:'where'] = @api_client.parameterize_where(opts[:'where']) if !opts[:'where'].nil?

      # query parameters
      query_params = opts[:query_params] || {}
      
      # XeroAPI's `IDs` convention openapi-generator does not snake_case properly.. manual over-riding `i_ds` malformations:
      query_params[:'IDs'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'ContactIDs'] = @api_client.build_collection_param(opts[:'contact_ids'], :csv) if !opts[:'contact_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Xero-Tenant-Id'] = xero_tenant_id
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(timesheet) 

      # return_type
      return_type = opts[:return_type] || 'TimesheetObject' 

      # auth_names
      auth_names = opts[:auth_names] || ['OAuth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, "PayrollAuV2Api", new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollAuV2Api#create_timesheet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new timesheet line for a specific timesheet using a unique timesheet ID
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param timesheet_line [TimesheetLine] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
    # @return [TimesheetLineObject]
    def create_timesheet_line(xero_tenant_id, timesheet_id, timesheet_line, opts = {})
      data, _status_code, _headers = create_timesheet_line_with_http_info(xero_tenant_id, timesheet_id, timesheet_line, opts)
      data
    end

    # Creates a new timesheet line for a specific timesheet using a unique timesheet ID
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param timesheet_line [TimesheetLine] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
    # @return [Array<(TimesheetLineObject, Integer, Hash)>] TimesheetLineObject data, response status code and response headers
    def create_timesheet_line_with_http_info(xero_tenant_id, timesheet_id, timesheet_line, options = {})
      opts = options.dup
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollAuV2Api.create_timesheet_line ...'
      end
      # verify the required parameter 'xero_tenant_id' is set
      if @api_client.config.client_side_validation && xero_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'xero_tenant_id' when calling PayrollAuV2Api.create_timesheet_line"
      end
      # verify the required parameter 'timesheet_id' is set
      if @api_client.config.client_side_validation && timesheet_id.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet_id' when calling PayrollAuV2Api.create_timesheet_line"
      end
      # verify the required parameter 'timesheet_line' is set
      if @api_client.config.client_side_validation && timesheet_line.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet_line' when calling PayrollAuV2Api.create_timesheet_line"
      end
      # resource path
      local_var_path = '/Timesheets/{TimesheetID}/Lines'.sub('{' + 'TimesheetID' + '}', timesheet_id.to_s)

      # camelize keys of incoming `where` opts
      opts[:'where'] = @api_client.parameterize_where(opts[:'where']) if !opts[:'where'].nil?

      # query parameters
      query_params = opts[:query_params] || {}
      
      # XeroAPI's `IDs` convention openapi-generator does not snake_case properly.. manual over-riding `i_ds` malformations:
      query_params[:'IDs'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'ContactIDs'] = @api_client.build_collection_param(opts[:'contact_ids'], :csv) if !opts[:'contact_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Xero-Tenant-Id'] = xero_tenant_id
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(timesheet_line) 

      # return_type
      return_type = opts[:return_type] || 'TimesheetLineObject' 

      # auth_names
      auth_names = opts[:auth_names] || ['OAuth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, "PayrollAuV2Api", new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollAuV2Api#create_timesheet_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a specific timesheet
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param [Hash] opts the optional parameters
    # @return [TimesheetLine]
    def delete_timesheet(xero_tenant_id, timesheet_id, opts = {})
      data, _status_code, _headers = delete_timesheet_with_http_info(xero_tenant_id, timesheet_id, opts)
      data
    end

    # Deletes a specific timesheet
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimesheetLine, Integer, Hash)>] TimesheetLine data, response status code and response headers
    def delete_timesheet_with_http_info(xero_tenant_id, timesheet_id, options = {})
      opts = options.dup
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollAuV2Api.delete_timesheet ...'
      end
      # verify the required parameter 'xero_tenant_id' is set
      if @api_client.config.client_side_validation && xero_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'xero_tenant_id' when calling PayrollAuV2Api.delete_timesheet"
      end
      # verify the required parameter 'timesheet_id' is set
      if @api_client.config.client_side_validation && timesheet_id.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet_id' when calling PayrollAuV2Api.delete_timesheet"
      end
      # resource path
      local_var_path = '/Timesheets/{TimesheetID}'.sub('{' + 'TimesheetID' + '}', timesheet_id.to_s)

      # camelize keys of incoming `where` opts
      opts[:'where'] = @api_client.parameterize_where(opts[:'where']) if !opts[:'where'].nil?

      # query parameters
      query_params = opts[:query_params] || {}
      
      # XeroAPI's `IDs` convention openapi-generator does not snake_case properly.. manual over-riding `i_ds` malformations:
      query_params[:'IDs'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'ContactIDs'] = @api_client.build_collection_param(opts[:'contact_ids'], :csv) if !opts[:'contact_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Xero-Tenant-Id'] = xero_tenant_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'TimesheetLine' 

      # auth_names
      auth_names = opts[:auth_names] || ['OAuth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, "PayrollAuV2Api", new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollAuV2Api#delete_timesheet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes a specific timesheet line
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param timesheet_line_id [String] Identifier for the timesheet line
    # @param [Hash] opts the optional parameters
    # @return [TimesheetLine]
    def delete_timesheet_line(xero_tenant_id, timesheet_id, timesheet_line_id, opts = {})
      data, _status_code, _headers = delete_timesheet_line_with_http_info(xero_tenant_id, timesheet_id, timesheet_line_id, opts)
      data
    end

    # Deletes a specific timesheet line
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param timesheet_line_id [String] Identifier for the timesheet line
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimesheetLine, Integer, Hash)>] TimesheetLine data, response status code and response headers
    def delete_timesheet_line_with_http_info(xero_tenant_id, timesheet_id, timesheet_line_id, options = {})
      opts = options.dup
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollAuV2Api.delete_timesheet_line ...'
      end
      # verify the required parameter 'xero_tenant_id' is set
      if @api_client.config.client_side_validation && xero_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'xero_tenant_id' when calling PayrollAuV2Api.delete_timesheet_line"
      end
      # verify the required parameter 'timesheet_id' is set
      if @api_client.config.client_side_validation && timesheet_id.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet_id' when calling PayrollAuV2Api.delete_timesheet_line"
      end
      # verify the required parameter 'timesheet_line_id' is set
      if @api_client.config.client_side_validation && timesheet_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet_line_id' when calling PayrollAuV2Api.delete_timesheet_line"
      end
      # resource path
      local_var_path = '/Timesheets/{TimesheetID}/Lines/{TimesheetLineID}'.sub('{' + 'TimesheetID' + '}', timesheet_id.to_s).sub('{' + 'TimesheetLineID' + '}', timesheet_line_id.to_s)

      # camelize keys of incoming `where` opts
      opts[:'where'] = @api_client.parameterize_where(opts[:'where']) if !opts[:'where'].nil?

      # query parameters
      query_params = opts[:query_params] || {}
      
      # XeroAPI's `IDs` convention openapi-generator does not snake_case properly.. manual over-riding `i_ds` malformations:
      query_params[:'IDs'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'ContactIDs'] = @api_client.build_collection_param(opts[:'contact_ids'], :csv) if !opts[:'contact_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Xero-Tenant-Id'] = xero_tenant_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'TimesheetLine' 

      # auth_names
      auth_names = opts[:auth_names] || ['OAuth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, "PayrollAuV2Api", new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollAuV2Api#delete_timesheet_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a specific timesheet by using a unique timesheet ID
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param [Hash] opts the optional parameters
    # @return [TimesheetObject]
    def get_timesheet(xero_tenant_id, timesheet_id, opts = {})
      data, _status_code, _headers = get_timesheet_with_http_info(xero_tenant_id, timesheet_id, opts)
      data
    end

    # Retrieve a specific timesheet by using a unique timesheet ID
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param [Hash] opts the optional parameters
    # @return [Array<(TimesheetObject, Integer, Hash)>] TimesheetObject data, response status code and response headers
    def get_timesheet_with_http_info(xero_tenant_id, timesheet_id, options = {})
      opts = options.dup
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollAuV2Api.get_timesheet ...'
      end
      # verify the required parameter 'xero_tenant_id' is set
      if @api_client.config.client_side_validation && xero_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'xero_tenant_id' when calling PayrollAuV2Api.get_timesheet"
      end
      # verify the required parameter 'timesheet_id' is set
      if @api_client.config.client_side_validation && timesheet_id.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet_id' when calling PayrollAuV2Api.get_timesheet"
      end
      # resource path
      local_var_path = '/Timesheets/{TimesheetID}'.sub('{' + 'TimesheetID' + '}', timesheet_id.to_s)

      # camelize keys of incoming `where` opts
      opts[:'where'] = @api_client.parameterize_where(opts[:'where']) if !opts[:'where'].nil?

      # query parameters
      query_params = opts[:query_params] || {}
      
      # XeroAPI's `IDs` convention openapi-generator does not snake_case properly.. manual over-riding `i_ds` malformations:
      query_params[:'IDs'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'ContactIDs'] = @api_client.build_collection_param(opts[:'contact_ids'], :csv) if !opts[:'contact_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Xero-Tenant-Id'] = xero_tenant_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'TimesheetObject' 

      # auth_names
      auth_names = opts[:auth_names] || ['OAuth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, "PayrollAuV2Api", new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollAuV2Api#get_timesheet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieves timesheets
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number which specifies the set of records to retrieve. By default the number of the records per set is 100.
    # @option opts [String] :filter Filter by employeeId and/or payrollCalendarId
    # @option opts [String] :status filter results by any timesheets with a matching timesheet status
    # @option opts [String] :start_date filter results by any timesheets with a startDate on or after the provided date
    # @option opts [String] :end_date filter results by any timesheets with a endDate on or before the provided date
    # @option opts [String] :sort sort the order of timesheets returned. The default is based on the timesheets createdDate, sorted oldest to newest. Currently, the only other option is to reverse the order based on the timesheets startDate, sorted newest to oldest.
    # @return [Timesheets]
    def get_timesheets(xero_tenant_id, opts = {})
      data, _status_code, _headers = get_timesheets_with_http_info(xero_tenant_id, opts)
      data
    end

    # Retrieves timesheets
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number which specifies the set of records to retrieve. By default the number of the records per set is 100.
    # @option opts [String] :filter Filter by employeeId and/or payrollCalendarId
    # @option opts [String] :status filter results by any timesheets with a matching timesheet status
    # @option opts [String] :start_date filter results by any timesheets with a startDate on or after the provided date
    # @option opts [String] :end_date filter results by any timesheets with a endDate on or before the provided date
    # @option opts [String] :sort sort the order of timesheets returned. The default is based on the timesheets createdDate, sorted oldest to newest. Currently, the only other option is to reverse the order based on the timesheets startDate, sorted newest to oldest.
    # @return [Array<(Timesheets, Integer, Hash)>] Timesheets data, response status code and response headers
    def get_timesheets_with_http_info(xero_tenant_id, options = {})
      opts = options.dup
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollAuV2Api.get_timesheets ...'
      end
      # verify the required parameter 'xero_tenant_id' is set
      if @api_client.config.client_side_validation && xero_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'xero_tenant_id' when calling PayrollAuV2Api.get_timesheets"
      end
      # resource path
      local_var_path = '/Timesheets'

      # camelize keys of incoming `where` opts
      opts[:'where'] = @api_client.parameterize_where(opts[:'where']) if !opts[:'where'].nil?

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'sort'] = opts[:'sort'] if !opts[:'sort'].nil?
      
      # XeroAPI's `IDs` convention openapi-generator does not snake_case properly.. manual over-riding `i_ds` malformations:
      query_params[:'IDs'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'ContactIDs'] = @api_client.build_collection_param(opts[:'contact_ids'], :csv) if !opts[:'contact_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Xero-Tenant-Id'] = xero_tenant_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Timesheets' 

      # auth_names
      auth_names = opts[:auth_names] || ['OAuth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, "PayrollAuV2Api", new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollAuV2Api#get_timesheets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reverts a specific timesheet to draft
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
    # @return [TimesheetObject]
    def revert_timesheet(xero_tenant_id, timesheet_id, opts = {})
      data, _status_code, _headers = revert_timesheet_with_http_info(xero_tenant_id, timesheet_id, opts)
      data
    end

    # Reverts a specific timesheet to draft
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
    # @return [Array<(TimesheetObject, Integer, Hash)>] TimesheetObject data, response status code and response headers
    def revert_timesheet_with_http_info(xero_tenant_id, timesheet_id, options = {})
      opts = options.dup
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollAuV2Api.revert_timesheet ...'
      end
      # verify the required parameter 'xero_tenant_id' is set
      if @api_client.config.client_side_validation && xero_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'xero_tenant_id' when calling PayrollAuV2Api.revert_timesheet"
      end
      # verify the required parameter 'timesheet_id' is set
      if @api_client.config.client_side_validation && timesheet_id.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet_id' when calling PayrollAuV2Api.revert_timesheet"
      end
      # resource path
      local_var_path = '/Timesheets/{TimesheetID}/RevertToDraft'.sub('{' + 'TimesheetID' + '}', timesheet_id.to_s)

      # camelize keys of incoming `where` opts
      opts[:'where'] = @api_client.parameterize_where(opts[:'where']) if !opts[:'where'].nil?

      # query parameters
      query_params = opts[:query_params] || {}
      
      # XeroAPI's `IDs` convention openapi-generator does not snake_case properly.. manual over-riding `i_ds` malformations:
      query_params[:'IDs'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'ContactIDs'] = @api_client.build_collection_param(opts[:'contact_ids'], :csv) if !opts[:'contact_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'Xero-Tenant-Id'] = xero_tenant_id
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'TimesheetObject' 

      # auth_names
      auth_names = opts[:auth_names] || ['OAuth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, "PayrollAuV2Api", new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollAuV2Api#revert_timesheet\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a specific timesheet line for a specific timesheet
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param timesheet_line_id [String] Identifier for the timesheet line
    # @param timesheet_line [TimesheetLine] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
    # @return [TimesheetLineObject]
    def update_timesheet_line(xero_tenant_id, timesheet_id, timesheet_line_id, timesheet_line, opts = {})
      data, _status_code, _headers = update_timesheet_line_with_http_info(xero_tenant_id, timesheet_id, timesheet_line_id, timesheet_line, opts)
      data
    end

    # Updates a specific timesheet line for a specific timesheet
    # @param xero_tenant_id [String] Xero identifier for Tenant
    # @param timesheet_id [String] Identifier for the timesheet
    # @param timesheet_line_id [String] Identifier for the timesheet line
    # @param timesheet_line [TimesheetLine] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key This allows you to safely retry requests without the risk of duplicate processing. 128 character max.
    # @return [Array<(TimesheetLineObject, Integer, Hash)>] TimesheetLineObject data, response status code and response headers
    def update_timesheet_line_with_http_info(xero_tenant_id, timesheet_id, timesheet_line_id, timesheet_line, options = {})
      opts = options.dup
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayrollAuV2Api.update_timesheet_line ...'
      end
      # verify the required parameter 'xero_tenant_id' is set
      if @api_client.config.client_side_validation && xero_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'xero_tenant_id' when calling PayrollAuV2Api.update_timesheet_line"
      end
      # verify the required parameter 'timesheet_id' is set
      if @api_client.config.client_side_validation && timesheet_id.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet_id' when calling PayrollAuV2Api.update_timesheet_line"
      end
      # verify the required parameter 'timesheet_line_id' is set
      if @api_client.config.client_side_validation && timesheet_line_id.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet_line_id' when calling PayrollAuV2Api.update_timesheet_line"
      end
      # verify the required parameter 'timesheet_line' is set
      if @api_client.config.client_side_validation && timesheet_line.nil?
        fail ArgumentError, "Missing the required parameter 'timesheet_line' when calling PayrollAuV2Api.update_timesheet_line"
      end
      # resource path
      local_var_path = '/Timesheets/{TimesheetID}/Lines/{TimesheetLineID}'.sub('{' + 'TimesheetID' + '}', timesheet_id.to_s).sub('{' + 'TimesheetLineID' + '}', timesheet_line_id.to_s)

      # camelize keys of incoming `where` opts
      opts[:'where'] = @api_client.parameterize_where(opts[:'where']) if !opts[:'where'].nil?

      # query parameters
      query_params = opts[:query_params] || {}
      
      # XeroAPI's `IDs` convention openapi-generator does not snake_case properly.. manual over-riding `i_ds` malformations:
      query_params[:'IDs'] = @api_client.build_collection_param(opts[:'ids'], :csv) if !opts[:'ids'].nil?
      query_params[:'ContactIDs'] = @api_client.build_collection_param(opts[:'contact_ids'], :csv) if !opts[:'contact_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Xero-Tenant-Id'] = xero_tenant_id
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(timesheet_line) 

      # return_type
      return_type = opts[:return_type] || 'TimesheetLineObject' 

      # auth_names
      auth_names = opts[:auth_names] || ['OAuth2']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, "PayrollAuV2Api", new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayrollAuV2Api#update_timesheet_line\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
